{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Nouveau programme{% endblock %}

{% block body %}
<div class="col-lg-10 ml-auto mr-auto mt-4">
    <h1>Créer un nouveau programme</h1>

    {{ include('programmes/_form.html.twig') }}

    <a href="{{ path('programmes_index') }}" class="btn btn-prus">Retour à la liste</a>
</div>
{% endblock %}