{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Confirm{% endblock %}

{% block body %}

    <div class="container col-5">
    <h1>Contactez-nous</h1>
     {{form_start(form)}}
     {{form_widget(form)}}
     
     {{form_end(form)}}
    </div>

   
{% endblock %}
