{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Confirm{% endblock %}

{% block body %}

    {% if app.user %}
        <div class="container col-lg-6">
    <h1>Confirmer votre souscription {{app.user.name}} </h1>
     {{form_start(form)}}
     {{form_row(form.Confirmer, {attr: {class: ' btn-prus'}})}}
     
     {{form_end(form)}}
    </div>
    {% endif %}
    

   
{% endblock %}
{% block footerPosition %}footerAbsolute{% endblock %}
