
{% form_theme form 'bootstrap_4_layout.html.twig' %}


    <div class="container col-lg-5">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-prus">{{ button_label|default('S\'inscrire') }}</button>
    {{ form_end(form) }}
</div>



